In [6]:
import pandas as pd
pd_women = pd.read_csv("../database/mujeres.csv")
display(pd_women)

    estatura  peso   cum  gastocel
0       1.68   149  7.03        16
1       1.65   105  5.66         5
2       1.55   130  7.48         5
3       1.60   125  7.20        23
4       1.70    68  6.80        30
5       1.65   127  8.11         5
6       1.58   160  7.53         3
7       1.56   130  6.57        23
8       1.55   100  7.26         3
9       1.55   105  7.38         6
10      1.80   155  6.67        10
11      1.55   108  7.44         3
12      1.53   106  7.52        15
13      1.62   105  7.22        30
14      1.55   160  6.83        30
15      1.60   102  7.13        23
16      1.57   120  7.08        10
17      1.65   135  6.83        25
18      1.63   128  6.89        24
19      1.55   110  8.70        15
20      1.60   142  8.12         5
21      1.60   136  8.00        30
22      1.68   125  8.81        17
23      1.60   115  8.41        15
24      1.65   150  6.80        10