In [19]:
import pandas as pd
import importlib
import sys

sys.path.append('../helpers')
pd_men = pd.read_csv("../database/hombres.csv")

In [20]:
import utils
importlib.reload(utils)

In [21]:
copy_pd_men = pd_men.copy()

In [ ]:
# Manejo de la variable estatura
column_estatura = copy_pd_men["estatura"]
bins = [1.50, 1.60, 1.70, 1.80, 1.90, 2.0]
labels = ["1.5-1.6", "1.6-1.7", "1.7-1.8", "1.8-1.9", "1.9-2.0"]
frecuency_table_by_estatura = utils.frecuency_by_range(column=column_estatura, bins_numbers=bins, label_names=labels)
dataframe_estatura = utils.grouped_data_table("Estatura", frecuency_table_by_estatura)
display(dataframe_estatura)
#utils.export_grouped_csv(grouped_dataframe_table=dataframe_estatura, variable_name="estatura_tabla")
#utils.export_grouped_csv(column_estatura, "estaturas")

          L -    L    xi  fi abs  fi sum  fi %
estatura
1.5-1.6   1.5  1.6  1.55       1       1   4.0
1.6-1.7   1.6  1.7  1.65       6       7  24.0
1.7-1.8   1.7  1.8  1.75      11      18  44.0
1.8-1.9   1.8  1.9  1.85       6      24  24.0
1.9-2.0   1.9  2.0  1.95       1      25   4.0

In [ ]:
# Manejo de la variables peso
column_peso = copy_pd_men["peso"]
bins_peso = [105, 130, 155, 180, 205, 230, 255]
labels_peso = ["105-130", "130-155", "155-180", "180-205", "205-230", "230-255"]
frecuency_table_by_peso = utils.frecuency_by_range(column=column_peso, bins_numbers=bins_peso, label_names=labels_peso)
dataframe_peso = utils.grouped_data_table("Peso", frecuency_table_by_peso)
display(dataframe_peso)
#utils.export_grouped_csv(dataframe_peso, "peso_tabla")
#utils.export_grouped_csv(column_peso, "pesos")

         L -    L     xi  fi abs  fi sum  fi %
peso
105-130  105  130  117.5       2       2   8.0
130-155  130  155  142.5       8      10  32.0
155-180  155  180  167.5       9      19  36.0
180-205  180  205  192.5       5      24  20.0
205-230  205  230  217.5       0      24   0.0
230-255  230  255  242.5       1      25   4.0

count     25.000000
mean     162.360000
std       26.446298
min      105.000000
25%      150.000000
50%      158.000000
75%      170.000000
max      240.000000
Name: peso, dtype: float64